@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F1EFE8;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }
  